@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
body {
    background-color: rgba(253, 182, 141, 0.1);
    color: #545454;
    /* font-family: 'Roboto', arial, sans-serif; */
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.bg-white {
    background-color: #ffffff!important;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
    left: 0;
    right: 0;
    top: 0;
    transform: translate3d(0,0,0);
    transition: transform .4s, background .4s;
}
@media screen and (min-width: 480px) {
    .navbar-brand {
        margin-left: 5%;
    }
}

.nav-link {
    font-weight: 300;
    font-size: 1.1rem;
    font-family: 'Poppins',arial,sans-serif;
    color: #5f5f5f !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
.nav-item {
    padding: 0.2rem 0.5rem;
}
main {
    margin-top: 5rem;
}

.btn {
    font-size: 1rem;
    padding: 10px 25px;
    font-weight: 500;
}
.btn:hover {
    font-size: 1rem;
    padding: 10px 25px;
    font-weight: 500;
}
.btn-light {
    color: #ff7300;
    border: 1px solid #fafafa;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-shadow: 0 2px 3px 2px #eee;
}
.btn-light:hover {
    color: #f0f0f0;
    border: 1px solid #ff7300;
    background: #ff7300;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
.btn-orange {
    color: #f0f0f0;
    border: 1px solid #ff7300;
    background: #ff7300;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-shadow: 0 2px 3px 2px #eee;
}
.btn-orange:hover {
    color: #f0f0f0;
    border: 1px solid #ff8828;
    background: #ff8828;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.footer {
    /* background: #fdfdfd; */
    background: #f3ece4;
}

.footer-link {
    list-style: none;
}
.footer-link a {
    text-decoration: none;
    /* color: #545454; */
    color: #414141;
    font-size: 12px;
}
.footer-link a:hover {
    text-decoration: underline;
    /* color: #545454; */
    color: #383838;
    font-size: 12px;
}
.address {
    /* color: #545454; */
    color: #505050;
    font-size: 12px;
}
.contact-us-footer {
    /* color: #000; */
    color: rgb(59, 59, 59);
    font-size: 1.2rem;
    font-weight: 600;
}

.explore-link {
    font-size: 1.3rem;
    text-decoration: none;
    color: #5e5e5e;
    padding-bottom: .88889rem;
    border-bottom: 1px solid #000;
    transition: border-bottom 0.3s linear;
}
.explore-link:hover {
    font-size: 1.3rem;
    text-decoration: none;
    color: #000;
    padding-bottom: .88889rem;
    border-bottom: 2px solid #292828;
}

.whatsapp-link-float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	/* background-color:#252525; */
	color:#eee;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.whatsapp-link-float:hover {
    color: #fff;
}

.whatsapp-float{
	margin-top:16px;
}
.navbar-nav {
    display: inline-block;
}
.navbar-nav li {
    display: inline-block;
}

.home-para {
    color: rgb(117, 117, 117);
    font-size: 1.2rem;
    font-family: "Poppins", Sans-serif;
}
a {
    color: #ff7300;
    text-decoration: none;
}
a:hover {
    color: #252525;
    text-decoration: none;
}

.social-insta {
    background: #e90a9e;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    font-size: 2rem;
    padding: 0.5rem 0.9rem;
}
.social-insta:hover {
    background: #535353;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
}

.social-twitter {
    background: #0abaff;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 0.7rem 0.9rem;
}
.social-twitter:hover {
    background: #535353;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
}

.social-youtube {
    background: #ff3b0a;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.7rem;
    padding: 0.7rem 0.8rem;
}
.social-youtube:hover {
    background: #535353;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
}